<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>
    <h1>Notifications</h1>
    <ul>
        {% for notification in notifications %}
            <li>{{ notification.notice }}</li>
        {% endfor %}
    </ul>

    <button type="button" class="btn btn">
        <a href="{% url 'back_to_dashboard' %}" class="btn btn-primary" style="background-color: rgb(61, 2, 113); color: rgb(255, 255, 255);">Go back to dashboard</a>
        
    </button>
</body>
</html>



